[submodule "labelImg"]
	path = labelImg
	url = https://github.com/tzutalin/labelImg.git
[submodule "Tensorflow/models"]
	path = Tensorflow/models
	url = https://github.com/tensorflow/models.git
[submodule "review_object_detection_metrics"]
	path = review_object_detection_metrics
	url = https://github.com/rafaelpadilla/review_object_detection_metrics.git
